.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
.header__title {
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  max-width: 601px;
  margin-top: 128px;
  margin-bottom: 0;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 532px;
  margin-top: 32px;
}

.header__image {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 135px;
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover {
  color: #1f69c9;
}

.header__address {
  margin: 0;
  color: #838383;
}
